:root {
  --primary-bg-color: #916bbf;
  --primary-color: #916bbf;
  --primary-dark-color: #7a45bb;
  --primary-light-color: #ae7ceb;
  --secondary-color: #c996cc;
  --secondary-light-color: #d9b5db;
  --secondary-dark-color: #7f0e7f;
  --assertive-color: #3d2c8d;
  --bg-color: #e2d7d7;
  --bg-color-alpha: #e2d7d763;
  --font-stack: "cursive";
  --Secondary-font-stack: "Nunito", sans-serif;
  --media-mobile: 576px;
  --media-tablet: 768px;
  --media-query-width-lg: 992px;
  --media-desktop: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: #916bbf;
    --primary-color: #916bbf;
    --primary-dark-color: #7a45bb;
    --primary-light-color: #ae7ceb;
    --secondary-color: #c996cc;
    --secondary-light-color: #d9b5db;
    --secondary-dark-color: #7f0e7f;
    --assertive-color: #3d2c8d;
    --bg-color: #150d1e;
    --bg-color-alpha: #150d1e7c;
    --font-stack: "cursive";
    --Secondary-font-stack: "Nunito", sans-serif;
    --media-mobile: 576px;
    --media-tablet: 768px;
    --media-query-width-lg: 992px;
    --media-desktop: 1200px;
  }
}

* {
  list-style: none;
}

html,
body {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  text-align: center;
  color: var(--bg-color);
}
a:active {
  color: var(--bg-color);
}
ul {
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
}

form input[type="submit"] {
  margin: auto;
  cursor: pointer;
}

.Link-border {
  padding-bottom: 20px;
  border-bottom: 4px solid sandybrown;
  border-radius: 5px;
}
.display {
  font-size: 2.5rem;
}
@media screen and (max-width: 576px) {
  .display {
    text-align: center;
  }
}
.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: 2px solid transparent;
  transition: background-color 1s;
  border-radius: 5 em;
  font-size: 1.5rem;
}

.btn:hover {
  color: var(--secondary-color);
  background-color: black;
  border: 2px solid var(--secondary-color);
}
.btn:disabled {
  display: none;
}
.btn-gray {
  padding: 1rem 2rem;
  width: fit-content;
  border: 2px solid transparent;
  background-color: #626d78;
  color: white;
}

.alert {
  color: #d86969;
  text-align: center;
  background-color: #fff;
  padding: 1em;
  background-color: rgba(17, 25, 40, 0.43);
}
.success {
  color: #78e762;
  text-align: center;
  background-color: #fff;
  padding: 1em;
  background-color: rgba(17, 25, 40, 0.43);
}
.error {
  color: #f56b6b;
}
