:root {
  --main-bg-color: #916bbf;
  --main-color: #916bbf;
  --main-dark-color: #7a45bb;
  --main-light-color: #ae7ceb;
  --secondary-color: #c996cc;
  --secondary-light-color: #d9b5db;
  --secondary-dark-color: #7f0e7f;
  --assertive-color: #3d2c8d;
  --bg-dark: #150d1e;
  --bg-light: #e2d7d7;
  --font-stack: "cursive";
  --Secondary-font-stack: "Nunito", sans-serif;
  --media-mobile: 576px;
  --media-tablet: 768px;
  --media-query-width-lg: 992px;
  --media-desktop: 1200px;
}
* {
  list-style: none;
}

html,
body {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--main-color);
}

a {
  text-decoration: none;
  text-align: center;
  color: var(--bg-dark);
}
a:active {
  color: var(--bg-light);
}
ul {
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
}
form .form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0em;
  position: relative;
}
form .form-control .bar {
  transition: all 0.8s ease;
}
form .form-control label {
  position: absolute;
  margin-left: 1.3em;
  transition: all 0.5s ease;
}
form .form-control input {
  font-size: 1rem;
  padding: 1em;
}
form .form-control input:focus {
  border: 4px solid white;
  outline: none;
}
form .form-control input:valid ~ label {
  margin-bottom: 5em;
  margin-left: 3px;
  margin-top: 0.1em;
}
form .form-control textarea:valid ~ label {
  margin-left: 3px;
  margin-bottom: 7em;
}
form .form-control input:focus ~ .bar {
  height: 5px;
  background-color: #333;
}
form select {
  padding: 0.5rem;
}
form input[type="submit"] {
  margin: auto;
  cursor: pointer;
}

.Link-border {
  padding-bottom: 20px;
  border-bottom: 4px solid sandybrown;
  border-radius: 5px;
}
.display {
  font-size: 2.5rem;
}
@media screen and (max-width: 576px) {
  .display {
    text-align: center;
  }
}
.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: 2px solid transparent;
  transition: background-color 1s;
  border-radius: 5 em;
  font-size: 1.5rem;
}

.btn:hover {
  color: var(--secondary-color);
  background-color: black;
  border: 2px solid var(--secondary-color);
}
.btn:disabled {
  display: none;
}
.btn-gray {
  padding: 1rem 2rem;
  width: fit-content;
  border: 2px solid transparent;
  background-color: #626d78;
  color: white;
}

.alert {
  color: #d86969;
  text-align: center;
  background-color: #fff;
  padding: 1em;
  background-color: rgba(17, 25, 40, 0.43);
}
.success {
  color: #78e762;
  text-align: center;
  background-color: #fff;
  padding: 1em;
  background-color: rgba(17, 25, 40, 0.43);
}
.error {
  color: #f56b6b;
}
